<table class="table table-bordered table-responsive">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      {{#if (or isAdmin isAgent) }}
        <th>Reporter</th>
      {{/if}}
      <th>Assignee</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each tickets as |ticket|}}
        {{display-tickets/items ticket=ticket isAdmin=isAdmin isAgent=isAgent}}
    {{/each}}
  </tbody>
</table>
